Package: com.34306.adspeed
Name: Ads Speed
Depends: mobilesubstrate
Version: 2.0
Architecture: iphoneos-arm
Description: A simple tweak that can inject into app to block all ads.
Maintainer: Little 34306
Author: 34306
Section: Tweaks
